@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Autour+One&family=Eater&family=Silkscreen&display=swap');

/*
font-family: 'Audiowide', sans-serif;
font-family: 'Silkscreen', sans-serif;
*/


*{
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 115% ;
}


:root{
    --bg-color:#231942; 
    --second-bg-color:#5e548e;
    --text-color:#e0b1cb;
    --main-color:#f1e3d3;


}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

body a{
    color: var(--text-color);
}


/*! header */

.header{
    border-radius: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    flex-wrap: wrap;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 3;
    background-color: var(--bg-color);
}

.logo{
font-size: 2rem;
color: var(--main-color);
font: weight 600px;
font-family: 'Silkscreen', sans-serif;
}

.navbar{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.navbar a{
    font-size: 2rem;
    color:var(--text-color)
}

.navbar a:hover,
.navbar a:active{
    color:var(--main-color)
}

section{
    min-height: 100vh;  
    padding: 0 10rem;

}
/* Home */

.home{
display: flex;
justify-content: center;
align-items: center;
}

.home-content{
    width: 70%;
}

.home-img{
    width: 30%;
    justify-content: center;
}

.home-img img{
    width: 100%;
    max-width: 24rem;
    border-radius: 10%;
    animation: floatImage 3s ease-in-out infinite;

}

home-content h3{
    font-size: 2rem;
    font-weight: 700;
}

home-content title{
 
}

home-content .name{
color: var(--main-color);
font-size: 3rem;
font-family: 'Audiowide', sans-serif;
font-weight: 700;
line-height: 1.3;
}

.info{
    margin-top: 2rem;
    font-family: 'Silkscreen', sans-serif;
    font-size: 2rem;
}

.social-icon{
    gap : 5rem;
    }

.social-icon a{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 3rem;
    color: var(--main-color);
    margin: 5rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
}

.social-icon a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 3rem var(--main-color);
}

.name{
    font-size: 3rem;
}

.btn{
    background: var(--main-color);
    padding: 1rem 4.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem var(--main-color);
    color: var(--second-bg-color);
    letter-spacing: 0.5rem;
    font-weight: 600;
}

/*! about */

.about{
    background-color: var(--second-bg-color);
display: flex;
justify-content: center;
align-items: center;
gap: 12rem;

}

.about-img{
    width: 80%;
    animation: floatImage 3s ease-in-out infinite;
}

.about-img img{
    width: 200%;
    border-radius: 10%;
}

.about-content{
    width: 20%;

}

.heading{
text-align: center;
font-size: 2rem;
}

.about-content h3{
font-size: 1.5rem;
}

.about-content p{
    font-family: 'Audiowide', sans-serif;
    font-size: 1rem;
    margin: 3rem 0;
}

span{
color: var(--main-color);
}

/*skills */

.skills{
padding-top: 7rem;
padding-bottom: 7rem;
}

.skills .heading{
    margin-bottom: 4rem;
}

.skills-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
}

.skills-box{
width: 20%;
flex: 1 1 20rem;
background: var(--second-bg-color);
border-radius: 2rem;
text-align: center;
border: 0.2rem solid var(--bg-color);
padding: 1rem;
transition: all 1s ease-in-out;
}

.skills-box:hover{
border: var(--main-color);
transform: scale(1.02);
box-shadow: 0 0 3rem var(--main-color);

}

.skills-box i{
front-size: 5rem;
color: var(--main-color);
}

.skills-box h3{
font-size: 2rem;
}

.skills-box p{
font-size: 0.7rem;
margin: 1rem;
text-align: justify;
}

/* projects */

.pojects{
padding: 3rem;
background-color: var(--second-bg-color);

}

.projects h2{

    padding-top: 6rem;
    padding-bottom: 6rem ;
    margin-bottom: 2rem;
}


.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.projects-box{
    flex: 1 1 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.projects-box img{
    width: 100%;
}

.pro{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: all 1s;
}

.pro a{
    font-size: 2rem;
    font-family: 'orbitron', sans-serif;
    color: var(--main-color);
}

.projects-box:hover .pro{
    transform: translateY(0);
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

/*footer*/

.footer{
display: flex;
justify-content: space-between;
padding: 0.2rem 10%;
align-items: center;
flex-wrap: wrap;
}

.footer p{
    font-size: 1rem;
}

.footer-iconTop a{
    background-color: var(--second-bg-color);
    padding: 0.7rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer-iconTop{
    font-size: 2.5rem;
    color: var(--text-color);
}

.footer-iconTop a:hover{

    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 3rem var(--second-bg-color);
}